<div class="body-container">
    <form *ngIf="person" class="person-form">
      <h1 class="mat-h1" *ngIf="person.id">Edit {{ person.name }}</h1>
      <h1 class="mat-h1" *ngIf="!person.id">Add new Person</h1>

      <mat-form-field *ngIf="person.id" class="full-width">
        <input name="id" matInput placeholder="Id" disabled value="{{ person.id }}">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input name="name" matInput placeholder="Person name" #personName [(ngModel)] = "person.name" (keyup.enter)="cmdSave()">
      </mat-form-field>

      <div class="button-row">
          <button mat-button routerLink="/persons">Cancel</button>
          <button mat-button color="primary"[disabled]="!(person.name && person.name.length > 1)" (click)="cmdSave()">Save</button>
      </div>
    </form>
</div>