<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Angular-Spring</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple routerLink="persons" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-contact"></i> Form
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" matRipple href="https://github.com/sterlp/spring-angular-starter">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-github"></i> Go to Github
            <span class="badge badge-primary">NEW</span>
        </a>
    </li>
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

